.button {
    display: flex;
    text-align: center;
    text-decoration: none;
    background-color: #24262a;
    color: white;
    border-radius: 4px;
    margin: 10px;
    transition: background-color 0.3s ease;
    background: #24262a;
    width: 300px;
    height: 45px;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0 .15rem 1px #00eeff, -.125rem -.125rem .2rem rgba(71, 233, 239, 0.5), .125rem .125rem .2rem rgba(90, 244, 255, 0.5);
}
.buttonDiscord{
  display: flex;
  text-align: center;
  text-decoration: none;
  background-color: #24262a;
  color: white;
  border-radius: 4px;
  margin: 10px;
  transition: background-color 0.3s ease;
  background: #24262a;
  width: 300px;
  height: 48px;
  flex-direction: row;
  align-items: center;
  box-shadow: 0 0 .15rem 1px #00eeff, -.125rem -.125rem .2rem rgba(71, 233, 239, 0.5), .125rem .125rem .2rem rgba(90, 244, 255, 0.5);
}
.logo{
  height:120px;
  width: fit-content;
  display: flex;
}
.logo-container{
  width: 28%;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: xxx-large;
  color: black;
  text-shadow: .8px 0.8px 0 #ffffff, -.5px .5px 0 #ffffff, -.5px -.5px 0 #ffffff, .5px -.5px 0 #ffffff;
}
body{
  background-image: url('../images/weapons/background/r6s_squads_bkg_wolfguard.png');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Roboto', sans-serif;
  color : white
}

.top_text{
  font-size: 2rem;
}


.button:not([disabled]):hover {
    transition: 500ms;
    box-shadow: inset 0 0 .25rem 4px #00eeff, -.125rem -.125rem 1rem rgba(71, 233, 239, 0.5), .125rem .125rem 1rem rgba(90, 244, 255, 0.5);
    border-bottom: #3392f8;
   
}
.buttonDiscord:not([disabled]):hover {
  transition: 500ms;
  box-shadow: inset 0 0 .25rem 4px #00eeff, -.125rem -.125rem 1rem rgba(71, 233, 239, 0.5), .125rem .125rem 1rem rgba(90, 244, 255, 0.5);
  border-bottom: #3392f8;
}

.top {
    margin-top: .5rem;
}
.buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.mainContainer {
    margin-bottom: 7rem;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 100%;
}#output {
  margin-top: 20px;
}
.bottom-text {
  margin-top: auto;
  bottom: 5px;
  position: absolute;
}
.topButtonText{
  font-size: 1rem;
}
.lowButtonText{
  font-size: 0.8rem;
}
.discordImg{
  width: 60px;
  height: 45px;
}

@media only screen and (min-width: 320px) {
.logo{
height:50px;
width: fit-content;
display: flex;
}
.logo-container{
width: 48%;
display: flex;
flex-direction: row;
align-items: center;
font-size: large;
color: rgb(255, 255, 255);
text-shadow: .8px 0.8px 0 #000000, -.5px .5px 0 #000000, -.5px -.5px 0 #000000, .5px -.5px 0 #000000;
}
}
@media only screen and (min-width: 375px) {
.logo{
height:55px;
width: fit-content;
display: flex;
}
.logo-container{
width: 48%;
display: flex;
flex-direction: row;
align-items: center;
font-size: x-large;
color: rgb(255, 255, 255);
text-shadow: .8px 0.8px 0 #000000, -.5px .5px 0 #000000, -.5px -.5px 0 #000000, .5px -.5px 0 #000000;
}
}
@media only screen and (min-width: 425px) {
.logo{
height:60px;
width: fit-content;
display: flex;
}
.logo-container{
width: 48%;
display: flex;
flex-direction: row;
align-items: center;
font-size: x-large;
color: rgb(255, 255, 255);
text-shadow: .8px 0.8px 0 #000000, -.5px .5px 0 #000000, -.5px -.5px 0 #000000, .5px -.5px 0 #000000;
}
}
@media only screen and (min-width: 576px) {
.logo{
height:70px;
width: fit-content;
display: flex;
}
.logo-container{
width: 48%;
display: flex;
flex-direction: row;
align-items: center;
font-size: x-large;
color: rgb(255, 255, 255);
text-shadow: .8px 0.8px 0 #000000, -.5px .5px 0 #000000, -.5px -.5px 0 #000000, .5px -.5px 0 #000000;
}
}
@media only screen and (min-width: 768px) {
.logo{
height:80px;
width: fit-content;
display: flex;
}
.logo-container{
width: 48%;
display: flex;
flex-direction: row;
align-items: center;
font-size: xx-large;
color: rgb(255, 255, 255);
text-shadow: .8px 0.8px 0 #000000, -.5px .5px 0 #000000, -.5px -.5px 0 #000000, .5px -.5px 0 #000000;
}
}
@media only screen and (min-width: 992px) {
.logo{
height:90px;
width: fit-content;
display: flex;
}
.logo-container{
width: 48%;
display: flex;
flex-direction: row;
align-items: center;
font-size: xx-large;
color: rgb(255, 255, 255);
text-shadow: .8px 0.8px 0 #000000, -.5px .5px 0 #000000, -.5px -.5px 0 #000000, .5px -.5px 0 #000000;
}
}
@media only screen and (min-width: 1200px) {
.logo{
height:120px;
width: fit-content;
display: flex;
}
.logo-container{
width: 48%;
display: flex;
flex-direction: row;
align-items: center;
font-size: xxx-large;
color: rgb(255, 255, 255);
text-shadow: .8px 0.8px 0 #000000, -.5px .5px 0 #000000, -.5px -.5px 0 #000000, .5px -.5px 0 #000000;
}
}